<ion-view title="Add Person" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="addPerson-form4" class="list">
            <label class="item item-input" id="addPerson-input8" name="name">
                <span class="input-label">Name</span>
                <input ng-model="person.name" type="text" placeholder="">
            </label>
          
        </form>
        <div id="addPerson-button-bar3" class="button-bar">
            <a ui-sref="tabsController.mediList" id="addPerson-button10" class="button button-assertive  button-block">Cancel</a>
            <button id="addPerson-button11" class="button button-positive  button-block" ng-click="addPerson()">Add</button>
        </div>
    </ion-content>
</ion-view>
