<ion-view title="Change Password" id="page12">
    <ion-content padding="true" class="has-header">
        <form id="changePassword-form8" class="list">
            <div class="spacer" style="width: 300px; height: 20px;"></div>
            <label class="item item-input" id="changePassword-input14">
                <span class="input-label">User Name</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 20px;"></div>
            <label class="item item-input" id="changePassword-input15">
                <span class="input-label">password</span>
                <input type="password" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 20px;"></div>
            <label class="item item-input" id="changePassword-input16">
                <span class="input-label">Confirm Password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <div id="changePassword-button-bar8" class="button-bar">
            <a ui-sref="tabsController.profile" id="changePassword-button27" class="button button-assertive  button-block">Cancel</a>
            <button id="changePassword-button28" class="button button-positive  button-block">Reset</button>
        </div>
    </ion-content>
</ion-view>