<ion-view title="Create MediLIst" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="createMediLIst-form3" class="list">
            <ion-list id="createMediLIst-list3">
                <ion-item id="createMediLIst-list-item2">Item 1</ion-item>
                <ion-item id="createMediLIst-list-item3">Item 2</ion-item>
                <ion-item id="createMediLIst-list-item4">Item 3</ion-item>
            </ion-list>
            <div id="createMediLIst-button-bar1" class="button-bar">
                <a ui-sref="tabsController.editMediList" id="createMediLIst-button4" class="button button-calm  button-block">Edit</a>
                <button id="createMediLIst-button5" class="button button-positive  button-block">Save</button>
                <button id="createMediLIst-button6" class="button button-balanced  button-block">Send</button>
            </div>
            <label class="item item-input" id="createMediLIst-input6" name="name">
                <span class="input-label">Name</span>
                <input type="text" placeholder="eg: Pan-40">
            </label>
            <label class="item item-input" id="createMediLIst-input7" name="quantity">
                <span class="input-label">Quantity</span>
                <input type="text" placeholder="30 tablets / 1 bottle">
            </label>
        </form>
        <div id="createMediLIst-button-bar2" class="button-bar">
            <button id="createMediLIst-button8" class="button button-positive  button-block">Add</button>
        </div>
    </ion-content>
</ion-view>