<ion-view title="Edit Medicine" id="page10">
    <ion-content padding="true" class="has-header">
        <form id="editMedicine-form7" class="list">
            <label class="item item-input" id="editMedicine-input11">
                <span class="input-label">Medicine Name</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 26px;"></div>
            <label class="item item-input" id="editMedicine-input12">
                <span class="input-label">Quantity</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div id="editMedicine-button-bar6" class="button-bar">
            <a ui-sref="tabsController.editMediList" id="editMedicine-button20" class="button button-assertive  button-block">Cancel</a>
            <button id="editMedicine-button21" class="button button-positive  button-block">Save</button>
        </div>
    </ion-content>
</ion-view>