<ion-view title="Edit Profile" id="page13">
    <ion-content padding="true" class="has-header">
        <form id="editProfile-form9" class="list">
            <label class="item item-input" id="editProfile-input17">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div id="editProfile-button-bar9" class="button-bar">
            <a ui-sref="tabsController.profile" id="editProfile-button32" class="button button-assertive  button-block">Cancel</a>
            <button id="editProfile-button33" class="button button-positive  button-block">Save</button>
        </div>
    </ion-content>
</ion-view>