<ion-view title="Edit MediList" id="page9">
    <ion-content padding="true" class="has-header">
        <ion-list id="editMediList-list6">
            <ion-item id="editMediList-list-item14" ui-sref="tabsController.editMedicine">Stamlo - 5 mg</ion-item>
            <ion-item id="editMediList-list-item15">Item 2</ion-item>
            <ion-item id="editMediList-list-item16">Item 3</ion-item>
        </ion-list>
        <a ui-sref="tabsController.mediList" id="editMediList-button35" class="button button-positive  button-block">Done</a>
    </ion-content>
</ion-view>