<ion-view title="Login" id="page7" ng-controller="loginCtrl">
    <ion-content padding="true" class="has-header">
        <form id="login-form2" class="list">
            <ion-list id="login-list2">
                <label class="item item-input" id="login-input4">
                    <span class="input-label">Username</span>
                    <input ng-model="user.username" type="text" placeholder="">
                </label>
                <label class="item item-input" id="login-input5">
                    <span class="input-label">Password</span>
                    <input ng-model="user.password" type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button2" class="button button-stable  button-block" ng-click="login()">Log in</button>
            <a ui-sref="signup" return false;" id="login-button3" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>