<ion-view title="MediList" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="mediList-card21">
            <ion-item class="item-avatar positive" id="mediList-list-item5">
                <h2positive>Velbai
                    <p>Last Time Medicines ordered</p>
                </h2positive>
            </ion-item>
            <div class="item item-body" id="mediList-list-item-container1">
                <ion-list id="mediList-list4">
                    <ion-item id="mediList-list-item7">Item 1</ion-item>
                    <ion-item id="mediList-list-item8">Item 2</ion-item>
                    <ion-item id="mediList-list-item9">Item 3</ion-item>
                </ion-list>
                <div id="mediList-null" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
                <div id="mediList-button-bar4" class="button-bar">
                    <a ui-sref="tabsController.editMediList" id="mediList-button13" class="button button-positive  button-block">Edit</a>
                    <button id="mediList-button14" class="button button-positive  button-block">Share</button>
                    <button id="mediList-button16" class="button button-positive  button-block">Order</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>