<ion-view title="Person" id="person">
    <ion-content padding="true" class="has-header">


          <div class="card">
            <div class="item item-divider">
              Header
            </div>
            <div class="item item-text-wrap">
              Simple Card Example.....
            </div>
            <div class="item item-divider">
              Footer
            </div>
          </div>



        <div id="addPerson-button-bar3" class="button-bar">
            <a ui-sref="tabsController.mediList" id="addPerson-button10" class="button button-assertive  button-block">Add Requestors</a>
            <button id="addPerson-button11" class="button button-positive  button-block" ng-click="addPerson()">Create MediList</button>
        </div>
    </ion-content>
</ion-view>
