<ion-view title="Select Person" id="page8">
    <ion-content padding="true" class="has-header">
        <ion-list id="selectPerson-list5">
            <ion-item id="selectPerson-list-item11" ui-sref="tabsController.createMediLIst">Item 1</ion-item>
            <ion-item id="selectPerson-list-item12">Item 2</ion-item>
            <ion-item id="selectPerson-list-item13">Item 3</ion-item>
        </ion-list>
        <div id="selectPerson-button-bar5" class="button-bar">
            <a ui-sref="tabsController.addPerson" id="selectPerson-button18" class="button button-positive  button-block">Add Person</a>
            <a ui-sref="tabsController.createMediLIst" id="selectPerson-button19" class="button button-balanced  button-block">Create List</a>
        </div>
    </ion-content>
</ion-view>