<ion-view title="Signup" id="page6" ng-controller="signupCtrl">
    <ion-content padding="true" class="has-header">
        <form id="signup-form1" role="form" class="list" ng-submit="signup()">
            <ion-list id="signup-list1">
                <label class="item item-input" id="signup-input1">
                    <span class="input-label">Name</span>
                    <input ng-model="user.name" type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input2">
                    <span class="input-label">Username</span>
                    <input ng-model="user.username" type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input3">
                    <span class="input-label">Password</span>
                    <input ng-model="user.password" type="password" placeholder="">
                </label>
                <label class="item item-input" id="signup-input3">
                    <span class="input-label">email</span>
                    <input ng-model="user.email" type="email" placeholder="">
                </label>
                <label class="item item-input" id="signup-input3">
                    <span class="input-label">Mobile Number</span>
                    <input ng-model="user.phoneNumber" type="number" placeholder="">
                </label>
            </ion-list>
            <button id="signup-button1" class="button button-stable  button-block" ng-click="signup()">Sign up</button>
        </form>
    </ion-content>
</ion-view>